
:root {
	/* 
	 * hand-selected colors; I tried to fit a
	 * terminal aesthetic. I think the chromas
	 * of the colors are all roughly the same,
	 * so try to avoid using any one of them as
	 * the background for any other color for
	 * accessibility reasons.
	 */
	--red: oklch(71.46% 0.1345 20.951);
	--orange: oklch(80.431% 0.1042 59.82);
	--yellow: oklch(88.376% 0.12354 100.464);
	--green: oklch(84.33% 0.15626 135.02);
	--cyan: oklch(84.373% 0.10317 181.501);
	--blue: oklch(66.617% 0.14684 286.22);
	--purple: oklch(73.712% 0.17479 322.844);

	--darker-bg: #282b33;
	--lighter-bg: #313641;
}

@media (max-width: 600px) {
	html > body {
		min-width: 200px;
		margin-left: 1rem;
		margin-right: 1rem;
		font-size: 1.1rem;
		box-sizing: border-box;
	}
	img {
		
	}
}

html {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	background-color: var(--darker-bg);
	font-family: monospace;
	color: var(--yellow);
}

body {
	max-width: 700px;
	min-width: 500px;
	background-color: var(--lighter-bg);
	padding: 3rem;
	font-size: 1.3rem;
	line-height: 1.4;
}

code {
	background-color: var(--darker-bg);
	padding: 0.2rem 0.4rem;
	border-radius: 5px;
}

hr {
	text-align: center;
	border: 0;
}

hr:before {
	content: '[--------';
}

hr:after {
	content: "--------]";
}

a {
	color: var(--cyan);
	font-weight: bold;
}
a:visited {
	color: var(--purple);
}
a:hover {
	color: var(--orange);
	text-decoration: none;
}