@font-face {
	font-family: RobotoMono;
	src: url("../fonts/RobotoMono.ttf");
	font-style: normal;
}
@font-face {
	font-family: RobotoMono;
	src: url("../fonts/RobotoMono-Italic.ttf");
	font-style: italic;
}
@font-face {
	font-family: Merriweather;
	src: url("../fonts/MerriweatherSans.ttf");
	font-style: normal;
}
@font-face {
	font-family: Merriweather;
	src: url("../fonts/MerriweatherSans-Italic.ttf");
	font-style: italic;
}